<h1>All Articles</h1>
<div class="flex_container" id="articles_container">
  <% @articles.each do |article| %>
  <div class="flex_item" id="article_box">
    <div class="article_card">
      <div class="article_item" id="title"><a href="<%= article.link %>"><%= article.title %></a></div>
      <div class="article_item" id="image"><img src="<%= article.thumbnail_img %>" alt=""></div>
      <div class="article_item" id="description"><p><%= article.section %></p></div>
    </div>
  </div>
<% end %>
</div>

<br>

<%= link_to 'New Article', new_article_path %>
